<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>AcetatosMX - Tienda en línea para los mejores acetatos</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto"/>
    <link rel="stylesheet" href="https://file.myfontastic.com/2mkBAz4kVSMEZcWv2q3x2K/icons.css"/>
    <%= stylesheet_link_tag "style" %>    
<!--     <link rel="stylesheet" href="css/style.css"/> -->
  </head>
  <body>

  <div class="inicio__info"></div>
    <div class="wrapper">

      <footer>
        <section id="acerca-de">
          <article>
            <hgroup><h3>Bienvenido Acetatero!!!</h3></hgroup>
            <p>AcetatosMX tiene millones de canciones. Escucha tu música favorita, descubre nuevas canciones y arma tu colección personal. Echa un vistazo a las listas de éxitos más recientes, a los últimos lanzamientos y a las mejores playlists del momento.</p>
          </article>
        </section>

        <section id="redes-s">
          <div class="email"><a href="#"></a></div>
          <div class="twitter"><a href="#"></a></div>
          <div class="youtube"><a href="#"></a></div>
          <div class="facebook"><a href="#"></a></div>
        </section>

      </footer>
    </div>

  </body>
</html>