<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>AcetatosMX - Tienda en línea para los mejores acetatos</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto"/>
    <link rel="stylesheet" href="https://file.myfontastic.com/2mkBAz4kVSMEZcWv2q3x2K/icons.css"/>
    <%= stylesheet_link_tag "style" %>    
<!--     <link rel="stylesheet" href="css/style.css"/> -->
  </head>

  <body>
  
    <%= render 'parcials/header' %>


    <div class="conteinerwall">
    	<div class="history">
    		 <img src="/assets/1o.png"> 
    		 <img src="/assets/2s.png"> 
    		 <img src="/assets/3s.png"> 
    		 <img src="/assets/4o.png"> 
    		 <img src="/assets/5o.png">
    		 <img src="/assets/6s.png">
    		 <img src="/assets/7e.png"> 
    		 <img src="/assets/8o.png"> 
    		 <img src="/assets/9e.png"> 
    		 <img src="/assets/10z.png">
    		 <img src="/assets/11e.png">
    		 <img src="/assets/12e.png">
    		 <img src="/assets/13e.png">
    		 <img src="/assets/14e.png"> 
    		 <img src="/assets/15e.png"> 
    		 <img src="/assets/16s.png"> 
    		 <img src="/assets/17e.png">
    		 <img src="/assets/18o.png">
    		 <img src="/assets/19e.png">
    		 <img src="/assets/20e.png">
    		 <img src="/assets/21o.png"> 
    		 <img src="/assets/22s.png"> 
    		 <img src="/assets/23s.png"> 
    		 <img src="/assets/24o.png"> 
    		 <img src="/assets/25o.png">
    		 <img src="/assets/26s.png">
    	</div>
    </div>


    
    <%= render 'parcials/footer' %>
      
      <script src="/assets/menu.js"></script>
  </body>
</html>