<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>AcetatosMX - Tienda en línea para los mejores acetatos</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto"/>
    <link rel="stylesheet" href="https://file.myfontastic.com/2mkBAz4kVSMEZcWv2q3x2K/icons.css"/>
    <%= stylesheet_link_tag "style" %>    
<!--     <link rel="stylesheet" href="css/style.css"/> -->
  </head>

  <body>
  
    <%= render 'parcials/header' %>

    <div class="conteinernot"><div class="title">¡Lo más nuevo de la Musica!</div>
		<div class="centrarnot">
			<div class="imageleft2"></div>
			<div class="aligncenter1"><h3>Tomorrowland saca nueva colección de ropa</h3></br><p>Con unos diseños auténticamente del estilo de Tomorrowland, los modelos se acabarán con bastante rapidez, como es de esperar y, aunque todavía faltan por llegar muchas novedades sobre esta colección, ya se pueden adquirir numerosos productos para hombres y mujeres desde su página oficial. TML incluye camisetas, sudaderas y todo tipos de accesorios como gafas, gorras e incluso CDs y DVDs.</p></div>
		</div>	
		<div class="centrarnot">
			<div class="imageleft3"></div>
			<div class="aligncenter1"><h3>¡Bruno Mars llega a México!</h3></br><p>Bruno Mars regresa a México para darnos buena música, baile y grandes invitados. Recientemente se anunció en redes sociales que el cantante llegaría a nuestro país los próximos 31 de enero en Monterrey, 2 y 3 de febrero en CDMX y 5 de febrero en Guadalajara. Bruno Mars iniciará la gira por Latinoamérica el próximo 18 de noviembre en Río de Janeiro y seguirá en Sao Paulo, Buenos Aires, Santiago, Lima y Quito.</p></div>
		</div>		
		<div class="centrarnot">
			<div class="imageleft"></div>
			<div class="aligncenter1"><h3>“El dorado” lo más nuevo de Shakira. </h3></br><p>El álbum más esperado del año ha llegado. La estrella colombiana Shakira presenta "El dorado" Álbum que será lanzado oficialmente este 26 de mayo y su preventa a a partir del 12 de mayo. "El dorado" incluye 13 canciones y es el primer disco en español desde el 2010 con Sale el sol, después que lanzara su ultimo disco en 2014. El pasado 12 de mayo fue el gran estreno de su esperado video "Me enamoré" codirigido por Shakira junto a Jaume de Laiguana y a tan sólo días del lanzamiento ya cuenta con más de 18 millones de visualizaciones en YouTube.</p></div>
		</div>
		<div class="centrarnot1">
			<div class="imageleft1"></div>
			<div class="aligncenter1"><h3>MTV MIAW 2017 | ¡Conoce a los presentadores  </h3></br><p>El próximo 4 de junio a las 8PM MX/CO / 10PM AR podrás ver el mejor show del año; además de ver a Juanpa Zurita y Lele Pons y los increíbles actos musicales, muchísimas más de tus celebs favoritas van a desfilar por el escenario. Durante el show, vamos a tener presentadores de lujo como Mario Bautista, Los Polinesios, CD9, Tessa Ia, Lola Club, Mario Ruiz, Chumel Torres, Axel Muñiz, YosStop, el elenco de Acapulco Shore, La Divaza, Rudy Mancuso y el regreso de nuestro icono MIAW del 2016, Sebastián Villalobos. ¡Además durante el show tendremos una actuación especial de Werevertumorro!</p></div>
		</div>		
    </div>

    <%= render 'parcials/footer' %>
      
      <script src="/assets/menu.js"></script>
  </body>
</html>