<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>AcetatosMX - Tienda en línea para los mejores acetatos</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto"/>
    <link rel="stylesheet" href="https://file.myfontastic.com/2mkBAz4kVSMEZcWv2q3x2K/icons.css"/>
    <%= stylesheet_link_tag "style" %>    
<!--     <link rel="stylesheet" href="css/style.css"/> -->
  </head>

  <body>
  
    <%= render 'parcials/header' %>

    	<div class="object one">
        <h1>Cronología de nuestra música</h1>
    	</div>
    	<div class="object two">
    		<h1>Historia de tu grupo favorito</h1>
    	</div>
    	<div class="object three">
    		<h1>Lo nuevo en AcetatosMX</h1>
    	</div>
    	<div class="object four">
    		<h1>Preguntas frecuentes</h1>
    	</div>

    <%= render 'parcials/footer' %>
      
      <script src="/assets/menu.js"></script>
  </body>
</html>