<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>AcetatosMX - Tienda en línea para los mejores acetatos</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto"/>
    <link rel="stylesheet" href="https://file.myfontastic.com/2mkBAz4kVSMEZcWv2q3x2K/icons.css"/>
    <%= stylesheet_link_tag "style" %>    
<!--     <link rel="stylesheet" href="css/style.css"/> -->
  </head>

  <body>
  
    <%= render 'parcials/header' %>

<div class="preguntas">
	<div class="fonpreg"><div class="pre"><h2>¿Puedo eliminar mi cuenta?</h2>Sí. En la sección "Editar perfi", en la parte más baja de la página se encuentra el botón "Cancel my account". Con hacer click en éste y confirmar la cancelación es suficiente para que demos de baja tu cuenta</div></div>
	<div class="fonpreg"><div class="pre"><h2><hr>¿Qué pasa si no puedo bajar mi música?</h2>Puedes mandar un correo a: acetatosmx@musiclatam.com y nosotros resolveremos tu problema</div></div>
   	<div class="fonpreg"><div class="pre"><h2><hr>¿Puedo aportar algún disco a la página?</h2>Claro! Pero no es tan fácil como parece, ya que el disco que posees tiene derechos de autor, así que hay que llenar varios papeles</div></div>
   	<div class="fonpreg"><div class="pre"><h2><hr>¿Qué pasa si no encuentro un disco que deseo?</h2>Es tan simple como pedirlo. Constantemente subimos nuevos productos, sin embargo damos prioridad a los más votados en nuestras redes sociales.</div></div>
</div>
</body>
    <%= render 'parcials/footer' %>
      
      <script src="/assets/menu.js"></script>
  </body>
</html>