a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

figure {
  margin: 0;
  padding: 0;
}

.artistas{
  width: 35%;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 0px;
}

.artista {
  width: 21%;
}

.artista__flex {
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
}

.artista__imagen img {
  width: 90%;
  border-radius: 50%;
}

.artista__nombre h2 {
  font-size: 2rem;
  text-align: center;
  margin: 0.3rem 0 0 0;
  color: #D8D8D8;
}

.artista__canciones p {
  font-size: 1.5rem;
  color: #6E6E6E;
  text-align: center;
  margin: 0 0 1.8rem 0;
}

footer{
  width: 100%;
  float: left;
  clear: both;
  box-shadow: 0px 2px 2px #000;
  border-radius: 5px;
  background-color: #1C1C1C;
  position: relative;
  margin:0;
}


footer section{
  width: 600px;
  float: left;
  padding: 20px;
}


footer #acerca-de{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #8c8c8c;
  text-align: justify;
  line-height: 20px;
}

footer #acerca-de h3{
  font-family: sourcesans-light;
  font-size: 25px;
  color: #fff;
  margin-bottom: 5px;
}

footer #redes-s > div {
  width: 220px;
  height: 60px;
  float: left;
  opacity: 0.7;
}

footer #redes-s > div a{
  width: 220px;
  height: 60px;
  display: inline-block;
}

footer #redes-s .email{
  background-image:url('email.png');
  margin-bottom: 20px;
  position: relative;
  background-position: center;
  background-size: 200px 60px;
  background-repeat: no-repeat;
  border-radius: 20%;
}

footer #redes-s .youtube{
  background-image:url('youtube.png');
  position: relative;
  background-position: center;
  background-size: 200px 60px;
  background-repeat: no-repeat;
  border-radius: 20%;
}

footer #redes-s .twitter{
  background-image:url('twitter.png');
  margin-bottom: 20px;
  position: relative;
  background-position: center;
  background-size: 200px 60px;
  background-repeat: no-repeat;
  border-radius: 20%;
}

footer #redes-s .facebook{
  background-image:url('facebook.png');
  position: relative;
  background-position: center;
  background-size: 200px 60px;
  background-repeat: no-repeat;
  border-radius: 20%;
}

footer #redes-s > div:hover{
  opacity:1;

}

.fondo{
  background-image:url('fondo.jpg');
  padding: 130px;
  background-size: cover;
  background-attachment: fixed;
}


.body {
  width: 100%;
  height: 100%;
  position: relative;
  top: 7rem;
/*  background-color: black;*/
  background-size: cover;
  background-attachment: fixed;
  padding:0;
  margin: 0;
  display: table;
}

.five{
  background-image:url('/assets/5.jpg'); 
  position: inherit;
}

.body__titulo {
  font-size: 4rem;
  margin: 1.8rem 0;
  text-align: center;
  color: #FFFAF0;
  margin-top: 40px;
}

.body__titulo2 {
  font-size: 36px;
  margin-top: 8rem;
  text-align: center;
  color: white;
}

.toptitle{
  background-image:url('/assets/toptitle.jpg');
  background-size: cover;
  height: 100%;
  width: 100%;
  padding: 10px;
  margin: 0;
  display: table;
}

.top-space {
  margin-top: 1rem;
}

.button {
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
  padding: 0.2rem 1.5rem;
  border-radius: 500px;
  background-color: #fff;
  color: #7F8C8D;
}

.button:hover {
  background: #02b875;
  color: #fff;
}

.header {
  position: fixed;
  top: 0rem;
  width: 100%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.02);
  padding: 0.8rem 0;
  z-index: 100;
  background: white;
}

.header__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 180px;
}

.header__perfil {
  width: 6rem;
}

.header__perfil img {
  width: 100%;
  border-radius: 50%;
}

.header__nav {
  cursor: pointer;
}

.header__nav:before {
  font-size: 2.7rem;
  position: relative;
  top: 0.2rem;
}


.nav {
  z-index: 10000;
  position: fixed;
  width: 100%;
  top: 8.4rem;
  background: white;
  display: none;
}

.nav ul {
  margin: 0;
  padding: 0;
}

.nav ul li {
  list-style: none;
  text-align: center;
  padding-top: 0.5rem;
  font-size: 1.5rem;
}

.nav ul li:nth-child(6) {
  padding-bottom: 0.5rem;
}

.nav ul li a {
  display: block;
  color: #000;
}


html,body{
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}
.object{
  height: 100%;
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
  padding:0;
  margin: 0;
  display: table;
}

.object h1{
  margin: 0;
  color: white;
  font-family: sans-serif;
  font-size: 50px;
  text-align: center;
  font-weight: bold;
  display: table-cell;
  vertical-align: middle;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.object h1:hover{
  text-decoration: underline;
  text-decoration-color: white;
}

.one{
  background-image:url('/assets/1.jpg'); 
}

.two{
  background-image:url('/assets/2.jpg') ; 
}

.three{
  background-image:url('/assets/3.jpg') ; 
}

.four{
  background-image:url('/assets/4.jpg') ; 
}

.top h3 {
  margin: 0;
  font-size: 2rem;
}

.top p {
  margin: 0;
  font-size: 1.3rem;
}

.top__album {
  padding-left: 1rem;
}

.top__cd{
  background-color: black;
}

.top__portada {
  width: 40px;
}

.top__portada img {
  width: 120%;
  height: 6rem;
  border-radius: 0.8rem;
}

.top__info {
  padding-left: 1rem;
}

.top__flex {
  display: flex;
  padding: 1rem 0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.02);
}

.top__flex:hover {
  background: #f2f2f2;
}

.wrapper {
  max-width: 1380px;
  width: 100%;
  margin: 0 auto;
}

.inicio .inicio__musica {
  background-image: url("/assets/musica.jpg");
}

.inicio .inicio__artista {
  background-image: url("/assets/artistas.jpg");

}

.inicio .inicio__musica, .inicio .inicio__artista {
  background-size: cover;
  padding: 10rem 0 8rem 0;
  text-align: center;
}

.inicio .inicio__musica h1, .inicio .inicio__artista h1 {
  color: #fff;
  margin: 5rem;
  font-size: 5rem;
}

.inicio .inicio__musica p, .inicio .inicio__artista p {
  color: #fff;
  margin: 4rem;
  font-size: 3rem;
}

/*
Profile
*/

.bodyp{
  background-image:url('profile.jpg');
  padding: 100px;
  background-size: cover;
  background-attachment: fixed;
}

.imagp{
  display: block;
  text-align: center;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
}

.un{
  text-align: center;
  color: white;
}


@media only screen and (max-width: 991vw){
  .artistasss {
    width: 31%
  }
}

@media only screen and (max-width: 665vw){
  .artistasss {
    width: 50%
  }
}

@media only screen and (max-width: 448vw){
  .artistasss {
    width: 100%
  }
}