<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>AcetatosMX - Tienda en línea para los mejores acetatos</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto"/>
    <link rel="stylesheet" href="https://file.myfontastic.com/2mkBAz4kVSMEZcWv2q3x2K/icons.css"/>
    <%= stylesheet_link_tag "style" %>    
<!--     <link rel="stylesheet" href="css/style.css"/> -->
  </head>
  <body>
    <header class="header">
      <div class="wrapper header__flex">
        <figure class="header__logo"><img class="img-responsive" src="/assets/logo.jpeg" alt=""/></figure>
        <figure class="header__perfil"><img src="/assets/perfil.jpg" alt=""/></figure><a href="#" class="button">Login</a>
        </figure><a href="#" class="button">SignUp</a>
        <div class="header__nav icon-menu"></div>
      </div>
    </header>
  <%= render 'parcials/header' %>


<div class="bodyp">
    <div class="imagp">

    </div>
    <h2 class="un">Nombre del Usuario</h2>
</div>





    <%= render 'parcials/footer' %>
<!--     <script src="js/jquery.js"></script> -->
    <script src="/assets/menu.js"></script>
  </body>
</html>